# Ignorar arquivos de compilação e diretórios específicos dentro da pasta Recyclica
/src/Recyclica/bin/
/src/Recyclica/obj/
/src/Recyclica/out/

# Ignorar configurações do Visual Studio e outras IDEs
/src/Recyclica/.vs/
/src/Recyclica/.vs/**
/src/Recyclica/.vscode/
/src/Recyclica/.idea/

# Logs
/src/Recyclica/*.log

# Diretórios de backup
/src/Recyclica/_backup/

/src/Recyclica/*.user
/src/Recyclica/*.suo
/src/Recyclica/*.userosscache
/src/Recyclica/*.sln.docstates

# Arquivos temporários
/src/Recyclica/*.tmp
/src/Recyclica/*.temp

# Arquivos de lock
/src/Recyclica/project.lock.json
/src/Recyclica/project.fragment.lock.json

# Diretório de pacotes do NuGet
/src/Recyclica/packages/
/src/Recyclica/*.nupkg

# Diretórios gerados por ferramentas
/src/Recyclica/**/[Dd]ebug/
/src/Recyclica/**/[Rr]elease/
/src/Recyclica/**/[Xx]64/
/src/Recyclica/**/[Aa]md64/


bin
obj
packages

.idea/
/docs/.idea/
/src/Recyclica/estrutura_projeto.txt
/src/Recyclica/export-tree.ps1
/src/Recyclica/Recyclica/obj/*
/src/Recyclica/Recyclica.DataAccess/obj/
/src/Recyclica/Recyclica.Models/obj/
/src/Recyclica/Recyclica.Utils/obj/
estrutura_projeto.txt
export-tree.ps1
/src/Recyclica/**/bin/
/src/Recyclica/**/obj/