html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita rolagem horizontal */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que a página ocupe 100% da altura da viewport */
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  background-color: #0d6efd; /* Cor igual à da navbar (bg-primary) */
  padding: 1rem;
  text-align: center;
}

h1 {
  margin-top: 2rem; /* Reduz o espaçamento do topo para evitar a rolagem */
}

form {
  margin-bottom: 0; /* Remove margens desnecessárias no formulário */
}

ul.navbar-nav > li.nav-item > ul.dropdown-menu > li > a:hover {
background: #609b8a; /* Altera a cor do background da opção selecionada no menu dropdown da navbar */
}