@page
@model Recyclica.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
ViewData["Title"] = "Confirmação de redefinição de senha";
}

<h1>@ViewData["Title"]</h1>
<p>Por favor, insira o código enviado para o seu e-mail para redefinir sua senha.</p>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <!-- Input para o código de recuperação -->
    <div class="form-floating mb-3">
        <input asp-for="Input.Code" class="form-control" autocomplete="one-time-code" aria-required="true" placeholder="Código de recuperação" />
        <label asp-for="Input.Code">Código de recuperação</label>
        <span asp-validation-for="Input.Code" class="text-danger"></span>
    </div>

    <!-- Input para a nova senha -->
    <div class="form-floating mb-3">
        <input asp-for="Input.NewPassword" type="password" class="form-control" aria-required="true" placeholder="Nova senha" />
        <label asp-for="Input.NewPassword">Nova senha</label>
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>

    <!-- Input para confirmar a nova senha -->
    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" aria-required="true" placeholder="Confirmar nova senha" />
        <label asp-for="Input.ConfirmPassword">Confirmar nova senha</label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <!-- Botão para submeter o formulário -->
    <button type="submit" class="w-100 btn btn-lg btn-primary">Redefinir senha</button>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
