@{
    ViewData["Title"] = "Tela Deletar Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Deletar Usuário</h1>
</div>
<br/>
<div class="d-flex flex-wrap justify-content-start">
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">João da Silva</h5>
            <p class="card-text"><strong>E-mail: </strong>joao.silva@recyclica.com</p>
            <p class="card-text"><strong>Cargo: </strong>Gerente de Operações</p>
            <p class="card-text"><strong>Data da Aprovação: </strong>03/10/2024</p>
            <button class="btn btn-secondary">Deletar Usuário</button>
        </div>
    </div>

    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Maria Fernandes</h5>
            <p class="card-text"><strong>E-mail: </strong>maria.fernandes@recyclica.com</p>
            <p class="card-text"><strong>Cargo: </strong>Coordenadora de Sustentabilidade</p>
            <p class="card-text"><strong>Data da Aprovação: </strong>02/12/2023</p>
            <button class="btn btn-secondary">Deletar Usuário</button>
        </div>
    </div>
</div>

