@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Gestao Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Gestão</h1>
    <button type="button" class="btn btn-lg btn-warning">Relatório</button>
    <br>
    <br>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="6" class="text-center" style="background-color: #d6d8db;">Lista de Aprovações de Usuários</th>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Cargo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Brenda Drumond</td>
                <td>brenda.drumond@recyclica.com</td>
                <td>Gerente de Operações</td>
                <td>
                    <a role="button" type="button" class="btn btn-primary">Aprovar</a>
                    <a role="button" type="button" class="btn btn-secondary">Reprovar</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Catiane de Souza</td>
                <td>catiane.souza@recyclica.com</td>
                <td>Coordenadora de Sustentabilidade</td>
                <td>
                    <button type="button" class="btn btn-primary">Aprovar</button>
                    <button type="button" class="btn btn-secondary">Reprovar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <hr style="border: 3px solid black;" />
    <br>


    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="6" class="text-center" style="background-color: #d6d8db;">Lista de Usuários</th>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Cargo</th>
                <th scope="col">Data da Aprovação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>João Silva</td>
                <td>joao.silva@recyclica.com</td>
                <td>Gerente de Operações</td>
                <td>03/10/2024</td>
                <td>
                    <a role="button" class="btn btn-info" asp-controller="Gestao" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-secondary" asp-controller="Gestao" asp-action="Deletar">Deletar</a>

                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Maria Fernandes</td>
                <td>maria.fernandes@recyclica.com</td>
                <td>Coordenadora de Sustentabilidade</td>
                <td>02/12/2023</td>
                <td>
                    <a role="button" class="btn btn-info" asp-controller="Gestao" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-secondary" asp-controller="Gestao" asp-action="Deletar">Deletar</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Ricardo Lopes</td>
                <td>ricardo.lopes@recyclica.com</td>
                <td>Operador de Piso</td>
                <td>22/04/2023</td>
                <td>
                    <a role="button" class="btn btn-info" asp-controller="Gestao" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-secondary" asp-controller="Gestao" asp-action="Deletar">Deletar</a>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Ana Paula</td>
                <td>ana.paula@recyclica.com</td>
                <td>Produção</td>
                <td>22/05/2024</td>
                <td>
                    <a role="button" class="btn btn-info" asp-controller="Gestao" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-secondary" asp-controller="Gestao" asp-action="Deletar">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

