@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Recyclica.Models.Produto

@{
    ViewData["Title"] = "Tela deletar Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Deletar Produto</h1>
</div>
<div>
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input class="form-control-plaintext" asp-for="NomeProduto" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo</label>
        <input class="form-control-plaintext" asp-for="Tipo" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Peso</label>
        <input class="form-control-plaintext" asp-for="Peso" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Data de fabricação</label>
        <input class="form-control-plaintext" asp-for="DataEntrada" readonly>
    </div>
    <br>
    <!-- Botão para acionar o modal -->
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Deletar Produto</button>
    <a asp-action="Index" asp-controller="Produtos" class="btn btn-primary">Voltar</a> 
</div>

<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmação de Deleção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja deletar o produto <strong>@Model.NomeProduto</strong>?
            </div>
            <div class="modal-footer">
                <form method="post" asp-action="ConfirmarDeletar">
                    <input type="hidden" name="id" value="@Model.ProdutoId" />
                    <button type="submit" class="btn btn-primary">Sim</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
